@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    background: #17a2b8;
    overflow: hidden;
}
nav {
    position: absolute;
    top: 30px;
    right: 0;
    width: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}
nav .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}
.nav-content .toggle-btn,
.nav-content span a {
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.nav-content .toggle-btn {
    font-size: 35px;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transform: rotate(-225deg);
    transition: all 0.6s ease;
}
nav.open .toggle-btn {
    transform: rotate(0deg);
}
.nav-content span {
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
}
nav.open .nav-content span {
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(120px) ;
    opacity: 1;
}
.nav-content span a {
    text-decoration: none;
    transform: rotate(45deg);
}
.nav-content span a i {
    font-size: 24px;
    color: #0e2431;
    transform: rotate(calc(var(--i) * (360deg/ -8)));
    opacity: 0.8;
    transition: 0.2s;
}
.nav-content span a:hover i {
    opacity: 1;
}